<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Polls アプリケーション</title>
    </head>
    <body>
        <h1>Polls</h1>
        <h2>調査項目</h2>
        {% for question in question_list %}
        <p>Q. {{ question }}</p>
        {% endfor %} 

        {% if is_polled %} 
            <p>{{polled_msg}}</p>
        {% else %}
            <p>{{ not_polled_msg }}</p>
        {% endif %}
        <p>Polls index page</p>
        <p>{{msg}}</p>
        <a href="{% url 'result' %}">結果</a>  
    </body>
</html>

